<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUt8-5UGbMRD9FjTIUxWjqIJvtpy96408</string>
	<key>GCM_SENDER_ID</key>
	<string>713063915358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spideyDev.fantavacanze</string>
	<key>PROJECT_ID</key>
	<string>fantavacanze-official</string>
	<key>STORAGE_BUCKET</key>
	<string>fantavacanze-official.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713063915358:ios:c77a61d9fada755f8239cf</string>
</dict>
</plist>